<app-main-header></app-main-header>
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">Busca tus envíos</span>
      <div class="text-6xl text-primary font-bold mb-3">usando solo tu código de cliente</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Ingresa tu código en el cuadro de abajo. Puedes encontrar tu código de
        cliente en tu ticket, o puedes solicitarlo poniéndote en contacto con nosotros.</p>

      <input class="shadow-7 p-inputtext-lg" pInputText placeholder="Código" type="text"/>
      <button class="ml-3 p-button-raised shadow-7 p-button-lg" icon="pi pi-search" label="Buscar" pButton pRipple type="button"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img alt="Image" class="md:ml-auto block md:h-full" src="assets/images/hero-1.png"
         style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
<app-main-footer></app-main-footer>
