<div class="surface-0 flex justify-content-center">
  <div class="landing-wrapper overflow-hidden" id="home">
    <app-main-header></app-main-header>
    <div class="grid py-4 px-4 lg:px-8 relative" id="hero">
      <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block">Eu sem integer</span>eget
          magna fermentum</h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Sed blandit libero volutpat sed cras. Fames
          ac turpis egestas integer. Placerat in egestas erat... </p>
        <button class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white" label="Get Started" pButton pRipple
                type="button"></button>
      </div>
      <img alt="" class="sm:mt-5 md:mt-0" src="assets/images/hero-2.png" style="right:10%;">
    </div>
    <app-main-footer></app-main-footer>
  </div>
</div>
