<app-main-header></app-main-header>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
    <div class="col-12 mt-5 xl:mt-0 text-center">
      <img src="assets/logos/logo.png" alt="Sakai logo" class="mb-5" style="width:81px; height:60px;">
    </div>
    <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.2rem; background: linear-gradient(180deg, rgba(33, 150, 243, 0.4) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="flex justify-content-center h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-ground));">
        <div class="grid flex-column align-items-center">
          <span class="text-blue-500 font-bold text-3xl">404</span>
          <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">¿Te perdiste?</h1>
          <span class="text-600">El recurso no está disponible.</span>
          <a href="/" class="col-12 flex align-items-center py-5 mt-6 border-300 border-bottom-1">
            <div class="flex justify-content-center align-items-center bg-cyan-400 border-round" style="height:3.5rem; width:3.5rem;">
              <i class="text-50 pi pi-fw pi-question text-2xl"></i>
            </div>
            <div class="ml-4">
              <p class="text-900 lg:text-xl font-medium mb-0 block">Preguntas comunes</p>
              <span class="text-600 lg:text-xl">Respuestas a las dudas más frecuentes de nuestros usuarios.</span>
            </div>
          </a>
          <a [routerLink]="['/search-by-code']" class="col-12 flex align-items-center py-5 border-300 border-bottom-1">
            <div class="flex justify-content-center align-items-center bg-orange-400 border-round" style="height:3.5rem; width:3.5rem;">
              <i class="pi pi-fw pi-search text-50 text-2xl"></i>
            </div>
            <div class="ml-4">
              <p class="text-900 lg:text-xl font-medium mb-0">Búsqueda de Envíos</p>
              <span class="text-600 lg:text-xl">Usa tu código para listar tus envíos realizados.</span>
            </div>
          </a>
          <a [routerLink]="['/login']" class="col-12 flex align-items-center py-5 border-300 border-bottom-1">
            <div class="flex justify-content-center align-items-center bg-indigo-400 border-round" style="height:3.5rem; width:3.5rem;">
              <i class="pi pi-fw pi-user text-50 text-2xl"></i>
            </div>
            <div class="ml-4">
              <p class="text-900 lg:text-xl font-medium mb-0">Iniciar Sesión</p>
              <span class="text-600 lg:text-xl">Si eres colaborador nuestro, utiliza este link.</span>
            </div>
          </a>
          <div class="col-12 mt-5 text-center">
            <i class="pi pi-fw pi-arrow-left text-blue-500 mr-2" style="vertical-align:center;"></i><a [routerLink]="['']" class="text-blue-500">Ir a la página principal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
