<app-user-header></app-user-header>
<h1>Creación de Tickets</h1>
<div class="grid p-fluid">
  <div class="col-12 md:col-3">
    <label for="inputNewTicketClient">Nombre o DNI del cliente
      <div class="p-inputgroup">
        <input id="inputNewTicketClient" pInputText placeholder="DNI o RUC" type="text">
        <button type="button" pButton pRipple label="Nuevo"></button>
      </div>
    </label>
  </div>
  <div class="col-12 md:col-3">
    <label for="inputNewTicketReceiver">Nombre o DNI del Destinatario
      <div class="p-inputgroup">
        <input id="inputNewTicketReceiver" pInputText placeholder="DNI o RUC" type="text">
        <button type="button" pButton pRipple label="Nuevo"></button>
      </div>
    </label>
  </div>
  <div class="col-12 md:col-3">
    <label for="inputNewTicketRegion">Región
      <p-autoComplete id="inputNewTicketRegion" [(ngModel)]="region" [suggestions]="regionResults" (completeMethod)="searchRegion($event)" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
    </label>
  </div>
  <div class="col-12 md:col-3">
    <label for="inputNewTicketProvince">Provincia
      <p-autoComplete id="inputNewTicketProvince" [(ngModel)]="province" [suggestions]="provinceResults" (completeMethod)="searchProvince($event)" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
    </label>
  </div>
  <div class="col-12 md:col-3">
    <label for="inputNewTicketDistrict">Distrito
      <p-autoComplete id="inputNewTicketDistrict" [(ngModel)]="district" [suggestions]="districtResults" (completeMethod)="searchDistrict($event)" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
    </label>
  </div>
  <div class="col-12 md:col-4">
    <label for="inputNewTicketAddress">Dirección
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input id="inputNewTicketAddress" pInputText placeholder="Dirección" type="text">
      </div>
    </label>
  </div>
  <div class="col-12 md:col-2">
    <label for="inputNewTicketCost">Costo
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input id="inputNewTicketCost" pInputText placeholder="S./" type="text">
      </div>
    </label>
  </div>
  <div class="col-12 md:col-4">
    <label for="inputNewTicketObs">Observaciones
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input id="inputNewTicketObs" pInputText placeholder="Observaciones" type="text">
      </div>
    </label>
  </div>
  <div class="col-12 md:col-3 flex align-items-center">
    <p-checkbox [(ngModel)]="isPickUp" [binary]="true" label="con recojo en local del cliente"></p-checkbox>
  </div>
  <div class="col-12 md:col-3 flex align-items-center">
    <p-button (click)="validateCity()" label="Agregar Envío" ></p-button>
  </div>
</div>
<h3>The city selection is {{validCitySelection? 'valid':'invalid'}}</h3>
<app-main-footer></app-main-footer>
